@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  color: var(--text-color-two);
  background-color: var(--primary-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #2f303a;
  --tertiary-color: #f5f4fa;
  --logo-color: #000000;
  --text-color-one: #ffffff;
  --text-color-two: #212121;
  --text-color-three: #757575;
  --accent-color: #2196f3;
  --text-color-four: rgba(255, 255, 255, 0.6);
  --text-color-five: #afb1b8;
  --main-font: "Roboto", sans-serif;
  --minor-font: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:focus, .button-close:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-field {
  margin-bottom: 10px;
}

.data-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-two);
  margin-bottom: 12px;
}

.label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-three);
  display: block;
  margin-bottom: 4px;
}

.form-input {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  overflow: nonе;
}
.form-input:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}
.form-input::-moz-placeholder {
  padding-left: 42px;
}
.form-input:-ms-input-placeholder {
  padding-left: 42px;
}
.form-input::placeholder {
  padding-left: 42px;
}

.form-icon {
  position: absolute;
  left: 0;
  transform: translateX(52px) translateY(11px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field input:focus + .form-icon {
  fill: var(--accent-color);
}

.comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}
.comment:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}
.comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-comment {
  margin-bottom: 20px;
}

.label-agree {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color-three);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.label-agree span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-color-two);
  border-radius: 2px;
  margin-right: 7px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-agree:checked + .label-agree span {
  background-color: var(--accent-color);
  border: transparent;
}
.check-agree:focus + .label-agree span {
  border-color: var(--accent-color);
}

.agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 7px;
}

.form-btn {
  font-weight: 700;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--text-color-one);
  background-color: var(--accent-color);
  margin: 0 auto;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-two);
  border-bottom: 1px solid #ececec;
}

.navigation,
.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--minor-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__web {
  color: var(--accent-color);
}

.contacts__item:not(:last-child),
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu {
  display: flex;
  margin-left: 92px;
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-two);
  display: block;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.menu__link.current {
  color: var(--accent-color);
}
.menu__link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
  background: var(--accent-color);
  border-radius: 2px;
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--text-color-three);
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-one);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--text-color-one);
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features__list {
  display: flex;
  gap: 30px;
}

.features__item {
  flex-basis: calc((100% - 90px) / 4);
  align-items: center;
}

.features__icon {
  display: flex;
  background-color: var(--tertiary-color);
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-two);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-three);
}

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--text-color-two);
  text-align: center;
  margin-bottom: 50px;
}

.picture__list {
  display: flex;
  gap: 30px;
}

.picture__list-image {
  position: relative;
}

.work__container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-one);
}

.team {
  background-color: var(--tertiary-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--text-color-two);
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.container-two {
  display: block;
  text-align: center;
  padding: 30px 0;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-two);
  margin-bottom: 10px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-three);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-five);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--text-color-one);
}

.regular-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.regular-clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.regular-clients-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--text-color-five);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--text-color-five);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-clients-link:hover, .regular-clients-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.filter {
  background-color: var(--primary-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--text-color-two);
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  text-align: center;
  border-color: transparent;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--tertiary-color);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--text-color-one);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.container-three {
  display: block;
  padding: 20px 24px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-two);
  margin-bottom: 4px;
}

.filter-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color-three);
}

.filter-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-link:hover, .filter-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-image {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 55px 71px 43px 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-color-one);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-link:hover .overlay-text, .filter-link:focus .overlay-text {
  transform: translateY(0);
}

.footer {
  background-color: var(--secondary-color);
  padding-top: 60px;
  padding-bottom: 57px;
}

.footer__logo {
  font-family: var(--minor-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-one);
  display: block;
  margin-bottom: 20px;
}

.address-container {
  margin-right: 70px;
}

.footer-address {
  font-style: normal;
}

.footer-item {
  display: block;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-one);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}

.footer-email,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-four);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email:hover, .footer-email:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-one);
  margin-bottom: 20px;
}

.container-four {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.footer-soc-container {
  margin-right: 93px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: var(--text-color-one);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input {
  display: flex;
  align-items: center;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding-left: 16px;
}
.footer-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  gap: 10px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
  color: var(--text-color-one);
  background-color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */