.regular-clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-min (1200px) {
  padding-top: 94px;
  padding-bottom: 94px;
}
  }
  .regular-clients-title {
    font-weight: 700;
    font-size: 28px;
    @include media-min (1200px) {
      font-size: 36px;
    }
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    @include media-min (1200px) {
      margin-bottom: 50px;
  }
  }
  .regular-clients-list {
    display: flex;
    @include media-max (1199px) {
    flex-wrap: wrap;
  }
    gap: 30px;
    justify-content: center;
  }
  .regular-clients-item {
    @include media-max (479px) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
  .regular-clients-link {
    @include media-min (480px) {
    width: 210px;
    }
    @include media-min (768px) {
      width: 226px;
    }
    @include media-min (1200px) {
      width: 170px;
  }
    height: 92px;
    border-radius: 4px;
    border: 1px solid var(--text-color-five);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--text-color-five);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
  }
  