.features {
    padding-top: 60px;
    padding-bottom: 60px;
    @include media-min (1200px) {
    padding-top: 94px;
    padding-bottom: 47px;
    }
  }
  .features__list {
    @include media-min (768px) {
    display: flex;
    flex-wrap: wrap;
  }
    gap: 30px;
  }
  .features__item {
    @include media-min (768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include media-min (1200px) {
    flex-basis: calc((100% - 3* 30px) / 4);
  }
    align-items: center;
  }
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features__icon {
    display: flex;
    background-color: var(--tertiary-color);
    width: 100%;
    @include media-min (768px) {
      width: 354px;
    }
    @include media-min (1200px) {
    width: 270px;
  }
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-two);
    margin-bottom: 10px;
    @include media-max (767px) {
      text-align: center;
    }
  }
  .features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-three);
  }