body {
    font-family: var(--main-font);
    color: var(--text-color-two);
    background-color: var(--primary-color);
  }
  
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }