:root {
    --primary-color: #ffffff;
    --secondary-color: #2f303a;
    --tertiary-color: #f5f4fa;
    --logo-color: #000000;
    --text-color-one: #ffffff;
    --text-color-two: #212121;
    --text-color-three: #757575;
    --accent-color: #2196f3;
    --text-color-four: rgba(255, 255, 255, 0.6);
    --text-color-five: #afb1b8;
    --main-font: "Roboto", sans-serif;
    --minor-font: "Raleway", sans-serif;
  }